/*display: block;
background-color: white;
padding ~8px? for web;
margin
*/

body{
    background-image: url(../images/an.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.an1{
    box-sizing: content-box;
    width: auto;
    padding: 2%;
    background-color: white;
    margin-bottom: 4%;
    margin-right: 2%;
}

p {
    font-size: 40px;
    color: black;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

main {
    overflow: auto;
}

article {
    overflow: auto;
    /* try to make it responsive? */
    height: 930px;
}

/* responsive */

@media only screen and (max-width: 800px) {
    body{
    background-image: url(../images/mobile/an.mob.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    }

    .an1{
        padding: 10px;
    }
  }