/*display: block;
background-color: white;
padding ~8px? for web;
margin
*/

body{
    background-image: url(../images/an.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}