/*display: block;
background-color: white;
padding ~8px? for web;
margin
*/

body{
    background-image: url(../images/an.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.an1{
    box-sizing: content-box;
    width: 1612px;
    padding: 20px;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 4%;
}

/* responsive */

@media only screen and (max-width: 800px) {
    body{
    background-image: url(../images/mobile/an.mob.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;    
    }
  }