:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
 /* fonts*/
h1{
    font: var(--heading);
    font-size: 209px;
    font-weight: bold;
    font-family: 'BC Alphapipe'
}

h2{
    font: var(--heading);
    font-size: 100px;
    font-weight: bold;
    font-family: 'BC Alphapipe';
}
 /* nav bar */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 177px;
    background-color: var(--darkblue);
    text-align: center;
    /*position: fixed;*/
    overflow: auto;
}

ul a.active{
    background-color: var(--yellow);
}

li a {
display: block;
text-decoration: none;
color: white;
width: 177px;
height: 170px;
}

 /*delete later*/
li a:hover {
    background-color: white;
    color: black;
  }
/*contact*/
#div1{
    text-decoration:none;
    color: black;
    float: left;
    width:33.33%;
}
#div2{
    text-decoration: none;
    color: black;
    float: right;
    width:23.33%;
 

} 