:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
 /* fonts*/
h1{
    font: var(--heading);
    font-size: 209px;
    font-weight: bold;
    font-family: 'BC Alphapipe'
}

h2{
    font: var(--heading);
    font-size: 100px;
    font-weight: bold;
    font-family: 'BC Alphapipe';
}
 /* nav bar */

  .sidenav {
    height: 1031px;
    width: 177px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkblue);
    overflow-x: hidden;
    padding-top: 59px;
  }
  
  .sidenav a {
    padding: 35px 6px 35px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--yellow);
    display: block;
  }

  .sidenav a:hover{
    background-color: var(--lightblue);
  }

  .main{
    margin-left: 177px;
  }

<<<<<<< HEAD
 /*delete later*/
li a:hover {
    background-color: white;
    color: black;
  }
/*contact*/
#div1{
    text-decoration:none;
    color: black;
    float: left;
    width:33.33%;
}
#div2{
    text-decoration: none;
    color: black;
    float: right;
    width:23.33%;
 

} 
=======
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
>>>>>>> d13dcaa0f058a074e042f5741db10539cbf65537
