:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font: var(--heading);
    font-size: 209px;
    font-weight: bold;
    font-family: 'BC Alphapipe'
}

h2{
    font: var(--heading);
    font-size: 100px;
    font-weight: bold;
    font-family: 'BC Alphapipe';
}