<<<<<<< HEAD
:root {
  /* colors */
  --orange: #e2863a;
  --yellow: #faeea0;
  --red: #87292b;
  --lightblue: #7683a2;
  --darkblue: #262d40;

  /* fonts */
  --bodytext: "Segoe UI";
  --heading: "BC Alphapipe";
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* fonts*/
h1 {
  font: var(--heading);
  font-size: 209px;
  font-weight: bold;
  font-family: "BC Alphapipe";
}

h2 {
  font: var(--heading);
  font-size: 100px;
  font-weight: bold;
  font-family: "BC Alphapipe";
}
/* nav bar */

.sidenav {
  height: 1031px;
  width: 177px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  overflow-x: hidden;
  padding-top: 59px;
}

.sidenav a {
  padding: 14% 6px 14% 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--yellow);
  display: block;
}

.sidenav a:hover {
  background-color: var(--lightblue);
}

.main {
  margin-left: 177px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.icon {
  height: 60px;
  margin-left: 20px;
}
.top-content {
  display: flex;
  justify-content: space-between;
} 
.lang {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
=======
HEAD
  /*contact*/
  body{
    background-image: url(../images/con.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
  }
  .top-content{
    display: flex;
    justify-content: space-between;
  }
  .lang{
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
>>>>>>> 1c48c5a919a04cdc8c933e61977049f46c818503
