/*contact*/

body {
  background-image: url(../images/cont.background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.top-content {
  display: flex;
  justify-content: space-between;
}

.info {
  color: white;
}
.info h3 {
  color: white;
}
.top2 {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.name,
.phone,
.email,
.alarm {
  display: flex;
  gap: 1%;
  margin-bottom: 5%;
}
.top2 img {
  width: 100px;
  height: 120px;
}

img.c-icons {
  width: 30px;
  height: 30px;
}
.contacts {
  background-color: white;
  padding: 20px;
  width: 370px;
  box-sizing: content-box;
}
.contacts-wrapper {
  display: flex;
  gap: 3%;
  margin-bottom: 2%;
}

.last {
  display: flex;
  gap: 11px;
}
.fb {
  font-size: 12px;
}
@media only screen and (max-width: 800px) {
  body {
    background-color: #7683a2;
    background-size: cover;
  }

  .contacts-wrapper {
    display: block;
  }
  .info {
    display: inline;
  }

  .lang {
    display: none;
  }
  .last {
    margin-left: 8%;
  }
  main {
    margin-bottom: 15vh;
  }
  .contacts {
    width: auto;
    margin-right: 3vw;
  }
}
