  /*contact*/
  body{
    background-image: url(../images/con.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .top-content{
    display: flex;
    justify-content: space-between;
  }
  .lang{
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
