body{
    background-color:  rgb(38, 45, 64);
   /* background-image:url ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
.nothing{
    display: flex;
    float: right;
    flex-direction: column;
    align-items: flex-start;
    color: #E2863A;
    margin-top: 20%;
    margin-right: 10%;
}
p{
    font-size: 60px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    
    
}
h4{
    
    font-size: 40px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0%;
    
    
}
button{
    background-color: #E2863A;
    border-radius: 20px;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 30px;
    cursor: pointer;
    position: fixed;


}
@media only screen and (max-width: 800px) {
    
}
