body{
    background-image:url(../images/404\ page.png) ;
}
.nothing{
    display: flex;
    float: right;
    flex-direction: column;
    align-items: flex-start;
    color: #E2863A;
    margin-top: 20%;
    margin-right: 10%;
}
p{
    font-size: 60px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
h4{
    font-size: 40px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0%;
}
button{
    background-color: #E2863A;
    border-radius: 20px;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 30px;
    cursor: pointer;


}
@media only screen and (max-width: 800px) {
    
}
