body{
    background-color: #262D40;
}
.com{
    width:300px ;
    height:700px ;
    padding-left: 100px;
    padding-top:180px ;
}
.rect{
    display: flex;
    gap: 20px;
}
.funny{
    width: 50px;
    height:80px ;
    padding-top: 180px;
}