/* Root */
@import url("../base/universal.css");

body{
    background-image: url(../images/map.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.big_container{
    display: flex;
    justify-content: space-between;
    width: 87vw;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 10%;
}
.container2{
    display: flex;
    margin-right: 10%;
}

#im{
    width: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 204, 151, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

h6{
    margin: 2%;
}

p{
    font-size: 25px;
}
