/* Root */
@import url("../base/universal.css");

body{
    background-image: url(../images/map.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.big_container{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}
.container2{
    display: flex;
    margin-left: 20%;
}

#im{
    width: 100%;
}

