/* Root */
@import url("../base/universal.css");

body{
    background-image: url(../images/map.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.container{
    display: flex;
    flex-direction: column;
}

