:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-image: url(../images/an.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}
.screen{
  width: 1195px;
  height: 1920px;
}

 /* fonts*/
h1{
    font: var(--heading);
    font-size: 209px;
    font-weight: bold;
    font-family: 'BC Alphapipe'
}

h2{
    font: var(--heading);
    font-size: 100px;
    font-weight: bold;
    font-family: 'BC Alphapipe';
    position: sticky;
    color: white;
}
h3{
  font: var(--bodytext);
  font-size: 60px;
  font-weight: bold;
  color: grey;
}
 /* nav bar */

  .sidenav {
    height: 1031px;
    width: 177px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkblue);
    overflow-x: hidden;
    padding-top: 59px;
  }
  
  .sidenav a {
    padding: 14% 6px 14% 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--yellow);
    display: block;
  }

  .sidenav a:hover{
    background-color: var(--lightblue);
  }

  .main{
    margin-left: 177px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .icon{
    height: 60px;
    margin-left: 20px;
  }