:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 0;
}

 /* fonts*/
h1{
    font: var(--heading);
    font-size: 209px;
    font-weight: bold;
    font-family: 'BC Alphapipe'
}

h2{
    font: var(--heading);
    font-size: 100px;
    font-weight: bold;
    font-family: 'BC Alphapipe';
    position: sticky;
    color: white;
}

h3{
  font: var(--bodytext);
  font-size: 60px;
  font-weight: bold;
  color: grey;
  margin: 0px;
}
 /* nav bar */

  .sidenav {
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkblue);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    padding: 2%;
    padding-top: 0;
  }

  /*
  .sidenav a {
    padding: 20% 5% 20% 5%;
  }

  .sidenav a:hover{
    background-color: var(--lightblue);
  }
  */

  main{
    margin-left: 235px;
  }

  .icon{
    width: 100%;
    padding-top: 20px;
  }

/* responsive nav bar */
@media only screen and (max-width: 800px) {
  /* nav bar and its consequences */
  .sidenav {
    height: 10%;
    width: 100%;
    bottom: 0;
    top: auto;
    background-color: var(--darkblue);
    overflow: hidden;
    padding-left: 3%;
    flex-direction: row;
    padding-bottom: 0;
  }

  .icon {
    width: 60%;
  }

  main{
    margin-left: 3%;
    margin-right: 3%;
  }

  #home{
    display: none;
  }

  /*fonts*/
  h2{
    font-size: 35px;
  }

  h3{
    font-size: 25px;
  }

 /* annaouncemnts */
  p {
    font-size: 20px;
  }

  article {
    height: 650px;
  }
}